<%= form_for(animal) do |f| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :common_name %>
    <%= f.text_field :common_name %>
  </div>

  <div class="field">
    <%= f.label :latin_name %>
    <%= f.text_field :latin_name %>
  </div>

  <div class="field">
    <%= f.label :kingdom %>
    <%= f.select :kingdom, [ 'Mammal','Insect','Reptile','Amphibian','Bird','Crustacean' ], :prompt => 'Select One' %>
    <!-- this is how to make a drop down menu. Note: kingdom is the method, and the stuff in the array are the arguments, and the prompt is the option -->
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
